/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

/* Start Global Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

:root {
  /* --main-color: #aebb14;
  --primary-color: #191d2b; */
  --main-transition: all 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@media (min-width: 1401px) {
  .container {
    width: 1800px;
  }
}
/* End Global Style */

/* Start Header */
header {
  border-bottom: 3px solid #0067f9;
  overflow: hidden;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .logo {
  width: 488px;
  height: 308px;
  max-width: 100%;
}
.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .nav-txt {
  margin-left: 100px;
}
.header .nav-txt h1 {
  font-size: 48px;
  line-height: 1.2;
  margin: 0;
}
/* End Header */