/* Fonts */
@font-face {
	font-family: 'Arial';
	src: url('./fonts/Arial.eot');
	src: local('Arial'), url('./fonts/Arial.woff') format('woff'), url('./fonts/Arial.ttf') format('truetype');
}
@font-face {
  font-family: "Constantia";
  src: url("./fonts/Constantia.eot");
  src: url("./fonts/Constantia.eot") format("embedded-opentype"), url("./fonts/Constantia.woff2") format("woff2"), url("./fonts/Constantia.woff") format("woff"), url("./fonts/Constantia.ttf") format("truetype");
}

/* Start Global Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

:root {
  --main-color: #0067f9;
  --primary-color: #f1f1f1;
  --main-transition: all 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0;
}
body {
  background-color: #fff;
  font-family: 'Arial';
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.inner-container {
  max-width: 80%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .inner-container {
    max-width: 100%;
  }
}
/* End Global Style */

/* Start Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--main-color);
  overflow: hidden;
}
.header .logo {
  width: 20%;
  text-align: center;
}
.header .nav-txt {
  width: 65%;
  margin: 0 0 0 15px;
}
.header .logo img {
  width: 200px;
  max-width: 100%;
  max-height: 200px;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.header .nav-txt h1 {
  font-size: 2.15rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 991px) {
  header {
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
  }
  .header .logo,
  .header .nav-txt {
    width: 100%;
  }
  .header .nav-txt h1 {
    text-align: center;
    margin: 0 0 35px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0 15px;
  }
  .header .nav-txt h1 {
    font-size: 1.15rem;
  }
  .header .logo {
    width: 150px;
  }
}
/* End Header */


/* Start Components */
.heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 25px;
  text-transform: uppercase;
}
/* Inner-container */
.inner-container .content .top-side,
.inner-container .content .bottom-side {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.inner-container .content .top-side {
  margin-bottom: 30px;
}
.inner-container .content .txt {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: justify;
}
.inner-container .content .txt:nth-child(1) {
  width: 40%;
}
.inner-container .content .txt:nth-child(2) {
  width: 55%;
}
@media screen and (max-width: 991px) {
  .inner-container .content .top-side,
  .inner-container .content .bottom-side {
    flex-direction: column;
  }
  .inner-container .content .txt:nth-child(1),
  .inner-container .content .txt:nth-child(2) {
    width: 100%;
  }
  .inner-container .content .txt:nth-child(1) {
    margin-bottom: 35px;
  }
}
/* MAIN SECTION */
.main-section {
  background-color: var(--primary-color);
}
.main-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-section .content-side {
  text-align: center;
  width: 55%;
}
.main-section .content-side .txt {
  font-size: 1.65rem;
  line-height: 2.5rem;
	font-family: 'Constantia';
}
.main-section .img-side {
  width: 37%;
}
.main-section .img-side img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 991px) {
  .main-section .container {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .main-section .content-side,
  .main-section .img-side {
    width: 100%;
  }
  .main-section .img-side {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 767px) {
  .heading {
    font-size: 1.25rem;
  }
  .main-section .content-side .txt {
    font-size: 1.25rem;
  }
  .inner-container .content .txt {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
/* End Components */

/* Start Main Section (Meeting) */
@media screen and (max-width: 991px) {
  .meeting .img-side {
    max-width: 70%;
  }
  .main-section.meeting .container {
    flex-direction: column;
  }
}
/* End Main Section (Meeting) */

/* Start Solution */
.solution {
  padding-top: 0;
  background-color: var(--primary-color);
}
.solution .header-container {
  position: relative;
  display: flex;
  align-items: center;
}
.solution .header-container img {
  max-width: 500px;
}
.solution .header-container .heading {
  color: var(--main-color);
  margin: 0 0 -50px;
  position: absolute;
  left: 320px;
}
.solution .container {
  display: flex;
  justify-content: space-between;
}
.solution .container .left-side {
  width: 64%;
}
.solution .container .right-side {
  width: 34%;
}
.solution .right-side img {
  width: 100%;
  object-fit: cover;
  transition: var(--main-transition);
}
.solution .left-side h3 {
  font-size: 1.35rem;
  line-height: 2rem;
  margin-bottom: 40px;
}
.solution .left-side .steps li,
.impact .steps li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.solution .steps li img,
.impact .steps li img {
  width: 33px;
  height: 33px;
  margin-right: 20px;
}
.solution .steps li span,
.impact .steps li span {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: justify;
}
@media screen and (max-width: 991px) {
  .solution .container {
    flex-direction: column-reverse;
  }
  .solution .container .left-side,
  .solution .container .right-side {
    width: 100%;
  }
  .solution .container .right-side {
    text-align: center;
    margin: 25px 0;
  }
  .solution .container .right-side img {
    width: 100%;
    max-width: 500px;
  }
  .solution .header-container .heading {
    margin: 0 0 -25px;
    left: 310px;
  }
}
@media screen and (max-width: 767px) {
  .solution .header-container img {
    max-width: 250px;
  }
  .solution .header-container .heading {
    margin: 0 0 -15px;
    left: 160px;
  }
  .solution .steps li span,
  .impact .steps li span {
    font-size: 1rem;
  }
  .solution .left-side h3 {
    font-size: 1.15rem;
  }
}
/* End Solution */

/* Start Impact */
.impact {
  padding-bottom: 0;
}
.impact .upper-section {
  padding-bottom: 50px;
}
.impact .header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.impact .header img {
  width: 80px;
  margin-right: 35px;
}
.impact .header h3 {
  color: var(--main-color);
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.impact .upper-section .txt {
  font-size: 1.35rem;
  font-style: italic;
  line-height: 2rem;
}
.impact .lower-section {
  background-color: var(--primary-color);
  padding-top: 20px;
  padding-bottom: 50px;
}
.impact .lower-section .container {
  display: flex;
  justify-content: space-between;
}
.impact .lower-section .left-side {
  width: 29%;
}
.impact .lower-section .right-side {
  width: 68%;
}
.impact .lower-section img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .impact .lower-section img {
    max-height: 400px;
  }
}
@media screen and (max-width: 991px) {
  .impact .lower-section .container {
    flex-direction: column;
  }
  .impact .lower-section .left-side,
  .impact .lower-section .right-side {
    width: 100%;
  }
  .impact .lower-section .left-side {
    text-align: center;
    margin-bottom: 35px;
  }
  .impact .lower-section img {
    max-width: 65%;
  }
}
@media screen and (max-width: 767px) {
  .impact .header {
    flex-direction: column;
  }
  .impact .header img {
    width: 75px;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .impact .upper-section .txt {
    font-size: 1.15rem;
    text-align: center;
  }
}
/* End Impact */