* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
*::selection {
  color: #fff;
  background-color: var(--main-color);
}
:root {
  --main-color: #aebb14;
  --primary-color: #191d2b;
  --main-transition: all 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0;
}
body {
  font-family: "Gemunu Libre", sans-serif;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}